@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional color scheme */
:root {
  --background: #000000;
  --foreground: #ff2e2e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: theme('fontFamily.mono'); /* Tailwind will auto-replace this */
}

.footer-nav {
  position: fixed;          /* Anchor to viewport */
  bottom: 0px;             /* Distance from bottom of screen */
  right: 2%;                
  display: flex;            /* Inline links */
  gap: 1px;              /* Spacing between links */
  z-index: 1;              /* Keep it above background layers */
  pointer-events: auto;     /* Ensure it's clickable */
  background-color: transparent; /* Let background show through */
  font-size: 0.625rem;  
}

/* Hide footer-nav on small and extra-small screens */
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .footer-nav {
    display: none;
  }
}

.footer-nav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}