/* Styling for the div enclosing the Link component */
nav .flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100%;
  align-items: center;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  nav {
    display: flex; 
    justify-content: center; 
    width: 100%; 
    top: 10px; /* Adds a margin from the top of the page */
    z-index: 50;
    padding-bottom: 20px;
    align-items: center;
  }


  nav img {
    margin-top: 5px; /* Adds a little margin for the logo */
  }
}