/* Silhouette background */
.vector-bg {
  position: absolute; 
  top: 0;
  left: 0; 

  height: 100vh;
  width: 100vw; 

  overflow: hidden;
  object-fit: fill; 


  /* Tailwind's arbitrary clip-path: */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background: #000;
  z-index: 0;
}

/* Responsive styles for mobile */
@media (max-width: 640px) {
  .vector-bg {
    height: 100%; /* Adjust height to fit content */
    width: auto; /* Adjust width to fit content */
    clip-path: none; /* Remove clip-path for better visibility */
    background: linear-gradient(to bottom, #000, #333); /* Add gradient for better visual effect */
  }
}